<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>coli-ana API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
    }
    a:link, a:visited {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    </style>
  </head>
  <body>
    <h1>coli-ana API</h1>
    <h2>Documentation</h2>
    <p>
      Visit <a href="https://coli-conc.gbv.de/coli-ana/" target="_blank">the project page</a> for background information or 
      <a href="https://github.com/gbv/coli-ana-api" target="_blank">GitHub</a> for technical documentation.
    </p>
    <h2>Examples</h2>
    <ul>
      <% for(notation of config.examples) { %>
        <li>
          <a href="<%= notation %>"><%= notation %></a>
          (as <a href="https://format.gbv.de/jskos">JSKOS</a>)
        </li>
        <li>
          <a href="<%= notation %>?format=picajson"><%= notation %></a> (in <a href="https://format.gbv.de/pica/k10plus" target="_blank">K10Plus format</a> as <a href="https://format.gbv.de/pica/json" target="_blank">PICA/JSON</a>, see <a href="https://swbtools.bsz-bw.de/cgi-bin/k10plushelp.pl?cmd=kat&val=5400&katalog=Standard" target="_blank">PICA field 045H/00</a>)
      <% } %>
    </ul>
   </body>
</html>
